<nav class="navbar navbar-dark navbar-expand-sm bg-secondary fixed-top">
  <div class="container">

     <a class="navbar-brand" routerLink='/home'>
      <img src="assets/img/restorant-logo.png" class="d-flex mr-auto img-fluid " height="35px" width="45">
  </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="Navbar">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink='/aboutus' routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a></li>
              <li class="nav-item"><a class="nav-link" routerLink='/menu' routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Menu</a></li>
              <li class="nav-item"><a class="nav-link" routerLink='/contactus' routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
              <li class="nav-item"><a class="nav-link"  role="button" id="navloginbutton"><span class="fa fa-sign-in fa-lg"></span>Connexion</a></li>

          </ul>
      </div>

  </div>
</nav>

<header class="jumbotron">
  <div class="container ">
      <div class="row row-header">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-last order-md-first">
            <div>
              <h1>Ristorante Hilton</h1>
              <h6>We take inspiration from the greatest chefs in the world ! </h6>
              <div class="btn text-center">
                <a class="btn btn-secondary btn-lg text-center"  role="button"
                 id="reservetablebutton"><span class="fa fa-calendar-check-o"></span> Reserve Table</a>

              </div>
              <div class="btn text-center">
                <a class="btn btn-secondary btn-lg text-center"  role="button"
                 id="contactbutton"><span class="	fa fa-envelope-open-o"></span> Contact Us</a>
              </div>


          </div>
        </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch  hero-img order-first order-md-last">
              <img src="assets/img/restorant-jumbotron-removebg-preview.png" class=" img-fluid" >
          </div>


      </div>
  </div>
</header>


<app-loging></app-loging>
