<div class="container-fluid background" data-aos="fade-down" style="background-image: url('assets/img/cafe-menu-cartoon-restaurant-restaurant-menu-cover-design-material-removebg-preview.png');">
  <div class="row row-content">
    <div class="col-12">
        <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class=" nav-item" ><a class="nav-link" data-toggle="tab" [routerLink]="['/menu']" [queryParams]="{category : 'special'}"  fragment="special" routerLinkActive="active" role="tab">Special</a></li>
        <li class=" nav-item" ><a class="nav-link" data-toggle="tab" [routerLink]="['/menu']" [queryParams]="{category : 'secondary'}" fragment="secondary" routerLinkActive="active" role="tab">Secondary</a></li>
        <li class=" nav-item"><a class="nav-link" data-toggle="tab" [routerLink]="['/menu']" [queryParams]="{category : 'desserts'}"  fragment="desserts"  routerLinkActive="active" role="tab">Desserts</a></li>
        <li class=" nav-item"><a class="nav-link" data-toggle="tab" [routerLink]="['/menu']" [queryParams]="{category : 'soda'}" fragment="soda" routerLinkActive="active" role="tab">Soda</a></li>
      </ul>
    </div>
    <div class="col-12">
      <div class="tab-content row-contents">
          <app-menuitems></app-menuitems>
      </div>
    </div>
  </div>
</div>
