.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #ddd;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 70px;
  background: #ddd;
  color: rgb(52, 87, 90); }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: black; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }



#carouselbutton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal .modal-header {
  background-color: #19a2d8;
  color: #ddd; }

.modal .modal-body {
  background-color: #ddd;
  padding: 15px; }

.modal .btn .btn-secondary {
  color: #ddd; }


footer a {
  color : black;
}


.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
  border : 1px solid black;
  transform: scale(1.01);

}

