.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}


.card {
  margin: 3px;
  align-self: center;
}
.card-body {
  align-self: center;
  margin-top: 2px;
  border : 1px thin black;
  font-family: monospace;
  padding: 40px;
  background-color: #ddd;
}
