
<div id="{{category}}" class="tab-pane text-center fade show active" role="tabpanel">
  <div class="text-center" *ngIf="!errMess && foods">
  <h3>{{category | uppercase}}</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="text-center" *ngIf="errMess">
  <h3>ERROR</h3>
  <p>{{errMess}}</p>
</div>
<div class="text-center" *ngIf="foods && !errMess && foods.length==0">
  <h3>SORRY</h3>
  <p>NO ITEMS ADDED</p>
</div>
<div class="container pa0 flex justify-center">

<div class="listings card-columns" *ngIf="foods != null" data-aos="fade-up">
 <!--
  <div class="flip-card "  *ngFor="let food of foods">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card" >

    <img class="card-img-top" data-aos="fade-right" src="{{food.mainImage}}" alt="{{food.name}}">

    <div class="card-body text-center align-self-center">
      <h5 class="card-title">{{food.name}}}}</h5>
      <p class="card-text">{{food.description}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

    </div>
  </div>
</div>
  <div class="flip-card-back">
    <div class="card bg-secondary">
      <div class="card-img-top text-center">
        <h1 class="card-title">PRICE</h1>
        <p class="card-text">{{food.price}}</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{food.name}}</h5>
        <a role="button" class="btn btn-primary btn-lg"><i class="fa fa-external-link" aria-hidden="true"></i> More Details</a>

        <div class="btn-group">
        <a role="button" class="btn btn-primary"><span class="fa fa-calendar-check-o"></span> Reserve</a>
        <p class="card-text">  </p>

        <a role="button" class="btn btn-primary"><span class="fa fa-envelope-open-o"></span> Contact</a>
      </div>


      </div>
    </div>
  </div>
</div>


  </div>
-->


  <div class="card "  *ngFor="let food of foods" [routerLink]="['/dishdetail',food.id]">
    <img class="card-img-top" src="{{food.mainImage}}" alt="{{food.name}}">
    <div class="card-body text-center align-self-center">
      <h5 class="card-title">{{food.name}}</h5>
      <p class="card-text">{{food.description}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="row text-center flex justify-center" *ngIf="foods === null && !errMess">
  <div class="col-12 text-center justify-center" >

<div class="uploader-status text-center loading-indicator tp-section">
  <h4>Loading .... Please wait !</h4>
  <div class="text-center">
    <mat-spinner  class="tp-margin" [value]=50 mode="indeterminate" ></mat-spinner>
  </div>
</div>
</div>

</div>
</div>
</div>



